/* Estilos Globais */
.plansAndPrices {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem automaticamente em várias linhas */
    justify-content: center;
    padding: 50px 20px; /* Reduzir o padding para economizar espaço em dispositivos menores */
  }
  
  .plansContainer {
    border: solid 2px white;
    width: 250px;
    height: 400px;
    padding: 30px 20px; /* Reduzir o padding para economizar espaço em dispositivos menores */
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 50px; /* Adicionar margem entre os cards */
    margin-top: 80px;
  }
  .plansContainer:hover {
    transform: scale(1.07);
    box-shadow: 0 0 30px white;
    background-color: orange;
  }
  
  .title {
    font-size: 40px;
    color: orange;
    font-family: "Lato", sans-serif;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .subtitle {
    font-size: 25px; /* Reduzir o tamanho da fonte para dispositivos menores */
    color: rgb(149, 255, 0);
    font-family: "Lato", sans-serif;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .values {
    font-size: 40px;
    color: orange;
    font-family: "Lato", sans-serif;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  .plansContainer:hover .title {
    color: black;
  }
  
  .plansContainer:hover .values {
    color: black;
  }


modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttonBuy {
    background-color: orange;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .buttonBuy:hover {
    transform: scale(1.2);
    background-color: white;
  }
  
  .separator {
    border: none;
    border-top: 3px solid #bf3737; /* Cor e espessura da linha */
    margin: 100px 0; /* Espaçamento acima e abaixo da linha */
  }